{% set drupalrs_block = drupalrs_block ?: ('node-' ~ node.bundle ~ (view_mode != 'default' ? '-' ~ view_mode))|clean_class %}
{% set classes = [
drupalrs_block,
node.isPromoted() ? drupalrs_block ~ '--promoted',
node.isSticky() ? drupalrs_block ~ '--sticky',
not node.isPublished() ? drupalrs_block ~ '--unpublished',
] %}
<article{{ attributes.addClass(classes) }}>
  {% block content %}
    <p>Potreban:</p>
    <a class="{{ drupalrs_block }}__title-link" href="{{ url }}" rel="bookmark">
      <div{{ content_attributes.addClass(drupalrs_block ~ '__content') }}>
        {{ title_prefix }}
        {% if not page %}
          <h2{{ title_attributes.addClass(drupalrs_block ~ '__title') }}>
            <span>{{ label }}</span>
          </h2>
        {% endif %}
        {{ title_suffix }}
        {{ content.field_tagovi_poslovi }} {# Skills. #}
        {{ content.field_kompanija }}
        {{ content.field_adresa }}
      </div>
    </a>
  {% endblock %}
</article>
