{% set drupalrs_block = drupalrs_block ?: ('node-' ~ node.bundle ~ (view_mode != 'default' ? '-' ~ view_mode))|clean_class %}
{% set classes = [
drupalrs_block,
node.isPromoted() ? drupalrs_block ~ '--promoted',
node.isSticky() ? drupalrs_block ~ '--sticky',
not node.isPublished() ? drupalrs_block ~ '--unpublished',
] %}

<article{{ attributes.addClass(classes) }}>
  {% block content %}
    {% if display_submitted %}
      <footer class="{{ drupalrs_block }}__meta">
        <div{{ author_attributes.addClass(drupalrs_block ~ '__submitted') }}>
          {{ date }}
          {{ metadata }}
          {{ author_name }}
        </div>
      </footer>
    {% endif %}

    <div{{ content_attributes.addClass(drupalrs_block ~ '__content') }}>
      {{ content|without('links') }}
    </div>
  {% endblock %}
</article>